/***************tag selector*****************/
body {
  background-image: url(../images/do-it.jpeg);
  background-attachment: scroll;
  background-repeat: no-repeat;
}

h1{
  color: #8d6262;
font-family: "Lucida Console", cursive;
font-size: 40px;
  text-decoration: underline #8d6262;
text-shadow: 3px 3px white;
}

h3{
  text-decoration: underline #28527a;
  color: #28527a;
  text-decoration: underline #8d6262;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: #8d6262;
  border-width: 6px;
  width: 5%;
}

/************************class selector****************/
.para{
  font-size: 20px;
  font-style: italic;
  color: #2a363b;

}

.para1{
  font-size: 22px;
  font-style: oblique;
  color: #8d6262;
}

.field{
  margin: 1px;
  padding: 1px;
}
input:optional {
  border-color: brown;
  border-width: 3px;
}
